.ba-section-news{
	background: url(../img/Bg2.jpg);

	h3 {
		text-align: center;
		padding-top: 180px;
		color: #2c4058;
		font-family: "Gotham";
		font-size: 44px;
		font-weight: 500;
		line-height: 22px;
		text-transform: uppercase;
	 }
  
}